@import 'variables';

#root {
    [draggable] {
        -moz-user-select: none;
        -khtml-user-select: none;
        -webkit-user-select: none;
        user-select: none;
        -khtml-user-drag: element;
        -webkit-user-drag: element;
    }
    
    .stop-column.hovered {
        border: 1px dashed $blue-grey;
        opacity: 0.8;
    }

    .stop-column.dragged {
        opacity: 0.8;
        transform: scale(0.9);
        -webkit-transform: scale(0.9);
        -moz-transform: scale(0.9);
        -ms-transform: scale(0.9);
        -o-transform: scale(0.9);
    }

    .stop-wrapper {
        margin-top: 20px;
        border: 1px dotted $blue-grey;
        border-radius: 2px;
    }

    .stop-heading {
        background-color: $dark-primary-color;
        font-size: 20px;
        color: $tertiary-text-color;
        padding-left: 2px;
        height: auto;
    }

    .stop-content {
        padding-left: 2px;
        overflow-y: auto;
        height: 250px;
        max-height: 250px;
    }

    .stop-spinner {
        height: 50px;
    }

    .stop-floating-icon {
        float: right;
        margin-right: 10px;
        margin-top: 10px;
        font-size: 18px;
    }

    .stop-getstarted {
        padding: 50px 20px;
        border: 1px dotted;
        text-align: center;
    }

    .stop-getstarted-outer {
        padding-top: 20px;
    }
}

