@import 'search';
@import 'variables';
@import 'stop';

.clickable {
    cursor: pointer;
}

.footer-center {
    text-align: center;
}

.footer-margin {
    margin-top: 20px;
}

a.nohi {
    color: inherit;
}

a.noul:hover {
    text-decoration: none;
    color: $dark-primary-color;
}

